.header {
	border-bottom: 4px groove black;
	font-weight: bold;	
	text-transform: uppercase;
	padding: 10px; 
}

.news {
	border-bottom: 2px dashed black;
	display: block;
	width: 50%;
	height: 20px;
	padding: 10px;
}

